<!-- FAQs Start -->
   <section class="wide-tb-50 pos-rel">
  <div class="container">
    <!-- ROW -->
    <div class="row">
      <div class="col-md-6">
       {{ content.field_faq_image }}
      </div>
      <!-- GRID-->
      <div class="col-md-6 col-sm-12">
        {{ content.field_question_answer }}
      </div>
      <!-- GRID-->
    </div>
    <!-- ROW -->
  </div>
</section>
<!-- FAQ page End --> 