<!-- Main Body Content Start -->
<main id="body-content" style="overflow-y: inherit;">
	{{ page.content }}
</main>

<!-- Main Footer Start -->
<footer class="wide-tb-70 bg-light-gray pb-0">
<div class="container">
  <div class="row">

	{{ page.footer }}
	
  </div>
</div>  

<div class="copyright-wrap bg-navy-blue wide-tb-30">
  <div class="container">
	<div class="row text-md-left text-center">
	
		{{ page.footerbottom }}
	</div>
  </div>
</div>
</footer>
<!-- Main Footer End -->
