{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}

<!-- Start Page Banner -->
{% if breadcrumb %}
<div class="slider bg-navy-blue bg-scroll pos-rel breadcrumbs-page">
	<div class="container">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
					<li class="breadcrumb-item" >
							<a href="{{ url('<front>') }}"><i class="icofont-home"></i> Home</a>
					</li>
					<li class="breadcrumb-item" >{{ headtitle }}</li>
			</ol>
		</nav>
		<h1>{{ headtitle }}</h1>
	</div>
</div>
{% endif %}
<!-- End Page Banner -->
